{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<br />
<h1>Welcome to the URL Shortner Web App</h1>
<br />
<form method="post" class="form-wrapper-2 cf">
  <div class="form-row  row mx-md-n5">
    <div class="col md-4 text-center">
        <input type="text" class="form-control text-center" name='ln' placeholder="Enter the URL">
        <br>
        <button type="submit" class="btn btn-primary align-center">Shorten</button>
    </div>
</div>
</form>
</form>
  {% endblock %}